/*******************************Calendar Top Navigation*********************************/
div#calendar{
  margin: 0px auto;
    padding: 0px;
    width: 602px;
    font-family: "gobCL_Regular";
    border: 1px solid #e2e2e2;
}
 
div#calendar div.box{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    padding: 30px 0 10px 0;      
}
 
div#calendar div.header{
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    width: 90%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#666;
}
 
div#calendar div.header span.title{
    color: #666;
    font-size: 1.7em;
}
 
 
div#calendar div.header a.prev{
    left:0px;
}
 
div#calendar div.header a.next{
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border-top:none;
}
 
 
 
div#calendar ul.label{
    display: table;
    width: 100%;
    margin: 5px 0 10px 0;
    border-bottom: 1px solid;
}
 
div#calendar ul.label li{
    margin: 0px;
    padding: 0px;
    display: table-cell;
    list-style-type: none;
    width: 14%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 1em;
    background-color: #fff;
}
 
 
div#calendar ul.dates{
    display: block;
    padding: 0px;
    margin: 0;
    width: 100%;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin: 0;
    padding: 0px;
    line-height: 80px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    list-style-type: none;
    width: 86px;
    height: 80px;
    font-size: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #ccc;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
.evento_select {
    background: #e8e8e8 !important;
    box-shadow: inset -1px 1px 0px #ccc;
    border-bottom: 1px solid #e8e8e8 !important;
}
.evento_select p {
    color: #636363 !important;
}
.number_events {
    display: none !important;
    margin: 0 !important;
    line-height: 1 !important;
    vertical-align: top !important;
    width: 90% !important;
    height: 0 !important;
    text-align: left !important;
    border: none !important;
    overflow: hidden;
}
.number_events:hover, .evento_select:hover {
    background: #e8e8e8 !important;
    box-shadow: none !important;
}
.mostrar_evento_select {
    display: block !important;
    width: 90% !important;
    height: auto !important;
    background: #e8e8e8 !important;
    overflow: hidden;
    padding: 15px 5% !important;
    overflow: hidden;
    z-index: 99;
}
.titulo_eventos_calendario {
    font-size: 1em;
}
.titulo_eventos_calendario.eventos a:link, .titulo_eventos_calendario.eventos a:visited {
    color: #0066a9;
}
.titulo_eventos_calendario.agenda-directora a:link, .titulo_eventos_calendario.agenda-directora a:visited {
    color: #e5303a;
}
.contenido_eventos_calendario p {
    font-size: 0.9em !important;
    position: relative !important;
    margin: 0 !important;
}
div#calendar ul.dates li:hover {
    background: #f1f1f1;
    box-shadow: 0 0 5px #999;
}
.dates li p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 0 15%;
    color: #9a9a9a;
    font-size: 1.2em;
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}     