PORT=3000

# Modo de ejecución: 'test' para simulaciones, 'live' para producción real
FINTOC_MODE=test

# Credenciales de Prueba (Test Mode)
FINTOC_SECRET_KEY_TEST=sk_test_your_secret_test_key
FINTOC_PUBLIC_KEY_TEST=pk_test_your_public_test_key

# Credenciales Reales (Live Mode)
FINTOC_SECRET_KEY_LIVE=sk_live_your_secret_live_key
FINTOC_PUBLIC_KEY_LIVE=pk_live_your_public_live_key
